body {
  background: #411397;
}
#img-caveira {
  max-width: 300px;

  margin: 0 auto;
  margin-top: 30px;
  border-radius: 200px;
}
@media (max-width: 600px) {
  #img-caveira {
    width: 110px;
    margin-top: 25px;
  }
}

.pop-image {
  margin: 10px;
  position: absolute;
  top: 8;
  right: 0;
  width: 300px;
  border-radius: 80px;
  box-shadow: 1px 1px 65px rgb(43, 102, 43);
  border: 1px solid rgb(43, 102, 43);
}
@media (max-width: 600px) {
  .pop-image {
    margin-top: 55px;
    margin-right: 30px;
    height: 120px;
    width: 150px;
  }
}
