body {
  background: #411397;
}
#img-caveira {
  max-width: 300px;

  margin: 0 auto;
  margin-top: 30px;
  border-radius: 200px;
}
@media (max-width: 600px) {
  #img-caveira {
    width: 110px;
    margin-top: 25px;
  }
}

.pop-image {
  margin: 10px;
  position: absolute;
  top: 5;
  right: 0;
  width: 300px;
  border-radius: 80px;
}
@media (max-width: 600px) {
  .pop-image {
    width: 200px;
  }
}
