body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background: #54007a;
}
.submit {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.486);
  font-weight: 600;
  color: white;
  background: #973ac2;
  border: none;
  padding: 5px 8px;
  border-radius: 4px 8px 4px 8px;
  cursor: pointer;
  width: 90px;
  height: 40px;
  margin-top: 40px !important;
}

.center {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  align-self: center !important;
}
.input {
  padding: 5px;
  border: none;
  outline: none;
  height: 13px;
  font-size: 15px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.486);
  width: 40px;
}
.label {
  font-size: 25px;
  font-style: italic;
  color: rgb(236, 142, 221);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.39);
}
.caixa-pai {
  display: flex;
  flex-direction: column;
}

.caixa-filho {
  padding: 5px;
  margin: 5px;
  margin-bottom: 15px;
}
.resultado {
  font-style: italic;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  color: rgb(106, 253, 106);
  font-size: 18px;
}
.erro {
  color: rgb(255, 128, 128);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
  font-style: italic;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  font-size: 18px;
}
.menu {
  text-decoration: none;
  color: rgb(189, 189, 189);
  position: absolute;
  bottom: 0;
  margin: 10px;
  margin-bottom: 3px;
}
.img {
  max-width: 150px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
}
.pop-image {
  margin: 10px;
  position: absolute;
  top: 8;
  right: 0;
  width: 300px;
  border-radius: 80px;
  box-shadow: 1px 1px 65px rgb(43, 102, 43);
  border: 1px solid rgb(43, 102, 43);
}
.pop-image-fail {
  margin: 10px;
  position: absolute;
  top: 8;
  right: 0;
  width: 300px;
}
@media (max-width: 600px) {
  .img {
    width: 110px;
    margin-top: 25px;
  }
  .input {
    width: 18px;
  }
  .submit {
    margin-top: 40px;
  }
  .pop-image-fail {
    margin-top: 20px;
    margin-right: 30px;
    height: 160px;
    width: 140px;
  }
  .pop-image {
    margin-top: 20px;
    margin-right: 30px;
    height: 130px;
    width: 165px;
  }
}
