body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background: #54007a;
}
.submit {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.486);
  font-weight: 600;
  color: white;
  background: #973ac2;
  border: none;
  padding: 5px 8px;
  border-radius: 4px 8px 4px 8px;
  cursor: pointer;
  width: 70px;
}

.center {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.input {
  border: none;
  outline: none;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.486);
  width: 80px;
}
.label {
  font-size: 20px;
  font-style: italic;
  color: #da8aff;
}
.caixa-pai {
  display: flex;
  flex-direction: column;
}

.caixa-filho {
  padding: 5px;
  margin: 5px;
  margin-bottom: 15px;
}
.resultado {
  font-style: italic;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  color: rgb(106, 253, 106);
  font-size: 18px;
}
.erro {
  color: rgb(255, 128, 128);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
  font-style: italic;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  font-size: 18px;
}
.menu {
  text-decoration: none;
  color: rgb(189, 189, 189);
  position: absolute;
  bottom: 0;
  margin: 10px;
}
.img {
  max-width: 150px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .img {
    width: 110px;
    margin-top: 25px;
  }
}
