body {
  background: linear-gradient(
    180deg,
    rgba(70, 18, 152, 1) 17%,
    rgba(193, 16, 182, 1) 63%,
    rgba(70, 18, 152, 1) 95%
  );
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  height: 100vh;
}
.formula {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 155px;
}
.formula,
span {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  /* border: 1px solid red; */
}
.formula-divisao {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: 90px !important;
}
.barra-divisao {
  margin-bottom: 5px;
  margin-left: 0;
  line-height: 5px;
  width: 100%;
}
.divisao-baixo {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}
.formula > span {
  margin-right: 10px;
}
.divisao-cima {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 100%;
}
.bot {
  margin-top: 120px !important;
}
@media (max-width: 600px) {
  .formula {
    width: 200px;
  }
  .formula > span {
    width: 40px;
    padding-right: 7px;
  }
  .w {
    width: 28px !important;
  }
}
